@{
    ViewBag.Title = "News";
}
<div class="jumbotron">

</div>

<div>
    @Html.ActionLink("Recomendation", "Index", "newsTest3")<br />
    @Html.ActionLink("Top News", "Index", "newsTest3")<br /><br />
    @Html.ActionLink("Politics", "Index", "newsTest3")<br />
    @Html.ActionLink("Money", "Index", "newsTest3")<br />
    @Html.ActionLink("US", "Index", "newsTest3")<br />
    @Html.ActionLink("US & Canada", "Index", "newsTest3")<br />
    @Html.ActionLink("World", "Index", "newsTest3")<br />
    @Html.ActionLink("Economy", "Index", "newsTest3")<br />
    @Html.ActionLink("Sport", "Index", "newsTest3")<br />
    @Html.ActionLink("Religion", "Index", "newsTest3")<br />
    @Html.ActionLink("Education", "Index", "newsTest3")<br />
    @Html.ActionLink("Health", "Index", "newsTest3")<br />
    @Html.ActionLink("Business", "Index", "newsTest3")<br />
    @Html.ActionLink("Magazine", "Index", "newsTest3")<br />
   
   
    @Html.ActionLink("Tech", "Index", "newsTest3")<br />
</div>